html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: darkgray;
	width: 100%;
	margin: 0;
	padding: 50px 0;
}

section {
	background-color: white;	
	width: 60%;
	min-width: 60%;
	height: auto;
	margin: 0 auto;
	-webkit-box-shadow: 9px 4px 24px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 9px 4px 24px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 9px 4px 24px 0px rgba(50, 50, 50, 0.75);
}

#comunicado {
	padding: 30px;
}
#comunicado div {
	display: block;
	text-align: center;
}
#comunicado span { cursor: pointer }

#media {display: none}
#mute {
	cursor: pointer;
	padding: 25px 0 0 5%;
}
#felicitacion { 
	display: none;
	font-family: 'Lobster', cursive;
}
#felicitacion h1, #felicitacion p{
	display: inline-block;
	width: 90%;
	padding: 0 5%;
}
#felicitacion h1 {
	text-align: center;
	font-size: 2em;
	margin: 0;
}
#felicitacion p { 
	font-size: 1.5em;
	padding: 0 5% 40px 5%;
	text-align: justify;
	color: #313131;
	font-weight: normal;
}
#felicitacion div {
	display: block;
	text-align: center;
	padding: 40px 0;
}
	#felicitacion div img { width: 150px }
#felicitacion footer {
	background-color: #AEAD5E;
	color: #474747;
	text-align: center;
	font-size: 1.4em;
	padding: 10px 0;
}
	
#wall {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: darkgray;
	z-index: -1;
	-webkit-transition: background 1s ease 0s;
	-moz-transition: background 1s ease 0s;
}

@media (max-width: 600px) {

}